#searchpage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#searchbar-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
button{
    color: white;
    margin-bottom:1%;
    background: none;
    border:none;
    height: 2vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Sour Gummy',serif;
}
button:hover{
    background-color: rgba(160, 160, 160, 0.415);
    cursor: pointer;
}

button:hover .button-content{
    transform: scale(1.2);
}
button:active .button-content{
    color: rgb(141, 140, 140);
}
#searchbar{
    width: 40%;
}
#search-result{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(0, 0, 41);
    height:100%;
    width:100%;
    margin-top: 5px;
    padding-top: 5px;
    overflow: scroll;
}
#search-result::-webkit-scrollbar{
    display: none;
}
.user-list-element{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    width:96%;
    flex-direction: row;
}