body {
    background-color: rgb(8, 0, 23);
    cursor: default;
    margin: 0;
    padding: 0;
}

#sidebar {
    overflow-y: auto ;
    width:20%;
    height: 98vh;
    background-color: rgb(2, 2, 65);
    display: flex;
    flex-direction: column;
    float: left;
    padding:1vh;
}
.sidebarButton{
    color: white;
    margin-bottom:9vh;
    background: none;
    border:none;
}
.sidebarButton:hover{
    background-color: rgba(160, 160, 160, 0.415);
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family:'Sour Gummy',serif;
    margin-bottom: 20vh;
}

.profile{
    margin-top: 20vh;
    color: white;
    display: flex;
    align-items: center;
}

.profile > img {
    width: 1cm;
    height: 1cm;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5%;
}